<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ItemMapper">
	
	<insert id="insert" parameterType="item">
		INSERT INTO item VALUES (#{itemid},#{wareid},#{itemname},#{warename},#{itemcate}, #{itemprice}, #{itemstock}, #{itemweightpb}, #{itemqtypb}, #{itemloc})	
	</insert>
	
	<update id="update" parameterType="item">
		UPDATE item
		<set> 
			<if test = "wareid != null">wareid=#{wareid},</if>
			<if test = "itemname != null">itemname=#{itemname},</if>
			<if test = "warename != null">warename=#{warename},</if>
			<if test = "itemcate != null">itemcate=#{itemcate},</if>
			<if test = "itemprice != null and itemprice != 0">itemprice=#{itemprice},</if>
			<if test = "itemstock != null">itemstock=#{itemstock},</if>
			<if test = "itemweightpb != null and itemweightpb != 0">itemweightpb=#{itemweightpb},</if>
			<if test = "itemqtypb != null and itemqtypb != 0">itemqtypb=#{itemqtypb},</if>
			<if test = "itemloc != null">itemloc=#{itemloc}</if>
		</set>
		WHERE itemid=#{itemid}
	</update>
	
	<delete id="delete" parameterType="item">
		DELETE FROM item WHERE itemid=#{itemid}
	</delete>
	
	<select id="select" parameterType="item" 
	resultType="item">
		SELECT * FROM item WHERE itemid=#{itemid}
	</select>
	
	<select id="selectAll" parameterType="item" resultType="item">
		SELECT * FROM item
		<where>
			<if test = "itemid != null and itemid !=''">itemid=#{itemid}</if>
			<if test = "wareid != null and wareid !=''">and wareid=#{wareid}</if>
			<if test = "itemname != null and itemname !=''">and itemname=#{itemname}</if>
			<if test = "itemcate != null and itemcate !=''">and itemcate=#{itemcate}</if>
		</where>
	</select>
	
</mapper>






















